# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React Native
.metro-health-check*
*.jsbundle

# Android
android/build/
android/app/build/
.gradle/
local.properties
.cxx/
*.iml
*.keystore
!debug.keystore

# iOS (ileride gerekirse)
ios/build/
DerivedData/
xcuserdata/
ios/Pods/

# Test / Coverage
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
